div, ul, li, span, textarea  {
    margin: 0px;
    padding: 0px;
}
#wrapper{
    margin:0;
    padding:0;
	width: 200px;
    height: 280px;
    font-size: 12px;
}
#wrapper div,li{
    width:200px;
    float:left;
}
#chatroom{
    height:280px;
    border: 1px solid #057de4;
}
#toolbar{
    height:25px;
    background-color: #79b5fb;
}
#conversation{
    height:210px;
    overflow-y:auto;
}
#comment_list{
    list-style-type: none;
}
.comment{
    
    float:left;
}
#input{
    height: 14px;
    border-top: 1px black solid;
}
#input textarea{
    float:left;
    resize:none;
    width:185px;
    outline:none;
    border: 0px;
}
#promt{
    text-align:right;
    width:15px !important;
}

